<!DOCTYPE html>
<title> Order: </title>
<form>
    <label for="base">Base:</label>

    <select id="base" name="base">
        {% for i in bases %}
            <option value="{{ i }}"> {{ i }}</option>
        {% endfor %}
    </select>
    <label for="toppings">Toppings:</label>
    <select id="toppings" name="toppings">
        {% for i in toppings %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
    <label for="sides">Sides:</label>
    <select id="sides" name="sides">
        {% for i in sides %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
</form>